.soluciones {
  align-items: center;
  background-color: rgb(146, 93, 93);
  margin-top: -5rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 1rem;
    height: 350px;

    h2 {
      margin-top: 20px;
      font-weight: 800;
    }
    button {
      margin-bottom: 20px;
    }

    h2,
    p {
      text-align: center;
      justify-content: center;
      color: white;
    }
    p {
      width: 65%;
      opacity: 0.9;
    }

    button {
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 0.3rem;
      cursor: pointer;
      background-color: rgb(56, 126, 255);
    }
  }
}

.soluciones2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  gap: 1rem;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;

    div {
      margin-top: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding: 2rem;
      text-align: left;

      p {
        font-size: 14px;
      }

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 1rem;
      }
    }

    div:hover {
      transform: translateY(-2.5px);
      transition: all 0.2s ease;
    }
  }

  @media (max-width: 750px) {
    div {
      grid-template-columns: 1fr;
    }
  }
}
