<div class="footer-container">
  <footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="#">Inicio</a>
        <a href="#">Términos de Servicio</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Ayuda</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Contacto</a>
      </div>
      <hr />
      <div class="redes">
        <p>© 2024 DOCHUB. Todos los derechos reservados.</p>
        <div>
          <a href="#"><img src="assets/footer/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="assets/footer/linkedin.png" alt="LinkedIn" /></a>
          <a href="#"><img src="assets/footer/instagram.png" alt="Instagram" /></a>
        </div>
      </div>
    </div>
  </footer>
</div>
