<nav>
  <button class="menu-btn" (click)="menuAbierto = !menuAbierto">&#9776;</button>

  <header [ngClass]="{ abierto: menuAbierto }"><h2>DOCHUB</h2></header>
  <div>
    <a routerLink="/dashboard"><fa-icon size="lg" [icon]="faHome"></fa-icon> Inicio</a>
  </div>
  <div>
    <a routerLink="/documentos"
      ><fa-icon size="lg" [icon]="faUpload"></fa-icon> Carga de Documentos</a
    >
  </div>
  <div>
    <a routerLink="/historial-documentos"
      ><fa-icon size="lg" [icon]="faFileAlt"></fa-icon> Documentos</a
    >
  </div>
  <div>
    <a routerLink="/perfil"><fa-icon size="lg" [icon]="faUser"></fa-icon> Perfil</a>
  </div>

  <div class="btn-container" [ngClass]="{ abierto: menuAbierto }">
    <button class="btn-general" *ngIf="sesionIniciado">
      <a (click)="Logout()" routerLink="/logout">Cerrar Sesión</a>
    </button>
    <button class="btn-general" *ngIf="!sesionIniciado">
      <a routerLink="/login">Iniciar Sesión</a>
    </button>
  </div>
</nav>
