<nav class="nav-login">
  <fa-icon [icon]="fabars" (click)="menuAbierto = !menuAbierto"></fa-icon>
  <header [ngClass]="{ abierto: menuAbierto }">
    <a (click)="irAHome()" style="cursor: pointer">DOCHUB</a>
  </header>
  <div class="links menu-desplegable" [ngClass]="{ abierto: menuAbierto }">
    <div>
      <a routerLink="/dashboard"><fa-icon size="lg" [icon]="faHome"></fa-icon> Dashboard</a>
    </div>
    <div>
      <a routerLink="/documentos"
        ><fa-icon size="lg" [icon]="faUpload"></fa-icon> Carga de Documentos</a
      >
    </div>
    <div>
      <a routerLink="/historial-documentos"
        ><fa-icon size="lg" [icon]="faFileAlt"></fa-icon> Documentos</a
      >
    </div>
    <div>
      <a routerLink="/perfil"><fa-icon size="lg" [icon]="faUser"></fa-icon> Perfil</a>
    </div>
    <div>
      <a routerLink="/metricas"><fa-icon size="lg" [icon]="faChartBar"></fa-icon> Metricas</a>
    </div>
  </div>
  <div [ngClass]="{ abierto: menuAbierto }">
    <button class="login-nav-responsive" *ngIf="!sesionIniciado">
      <a routerLink="/login">Iniciar Sesión</a>
    </button>
  </div>
</nav>
