<div class="soluciones-contenedor">
  <app-nav-login></app-nav-login>
  <section class="soluciones">
    <div>
      <header><h2>La plataforma de documentos digitales para todos</h2></header>
      <p>
        DOCHUB es la solucion definitiva para la gestion y el acceso seguro a sus archivos
        digitales. Descrubra como DOCHUB puede transformar la forma en que trabaja,
        independientemente de su industria o tamaño de equipo.
      </p>
      <button>Pruebalo gratis</button>
    </div>
  </section>
  <section class="soluciones2">
    <h3>Soluciones personalizadas para cada necesidad</h3>
    <p>
      DOCHUB ofrece herramientas adaptadas a las necesidades de los equipos pequeños, permitiendo
      una gestión eficiente de documentos sin complicaciones.
    </p>

    <div>
      <div>
        <img src="assets/soluciones/colaboracion.png" alt="Colaboracion sin esfuerzo" />
        <h4>Colaboracion sin esfuerzo</h4>
        <p>
          Facilite la colaboración entre su equipo con herramientas diseñadas para el trabajo
          conjunto sin importar donde se encuentren.
        </p>
      </div>
      <div>
        <img src="assets/soluciones/folder.png" alt="" />
        <h4>Organizacion intuitiva</h4>
        <p>
          Organice sus documentos de forma eficiente y accesible con carpetas personalizadas y
          funciones de búsqueda potentes.
        </p>
      </div>
      <div>
        <img src="assets/soluciones/verificado.png" alt="Seguridad avanzada" />
        <h4>Seguridad avanzada</h4>
        <p>
          Proteja sus archivos con las mejores prácticas de seguridad empresarial y tecnología de
          encriptación de última generación.
        </p>
      </div>
    </div>
  </section>

  <section class="soluciones2">
    <h3 class="educacion">Para educacion</h3>
    <p>
      DOCHUB ofrece herramientas adaptadas a las necesidades de los equipos pequeños, permitiendo
      una gestión eficiente de documentos sin complicaciones.
    </p>

    <div>
      <div>
        <img src="assets/soluciones/colaboracion.png" alt="Colaboracion sin esfuerzo" />
        <h4>Colaboracion sin esfuerzo</h4>
        <p>
          Facilite la colaboración entre su equipo con herramientas diseñadas para el trabajo
          conjunto sin importar donde se encuentren.
        </p>
      </div>
      <div>
        <img src="assets/soluciones/folder.png" alt="" />
        <h4>Organizacion intuitiva</h4>
        <p>
          Organice sus documentos de forma eficiente y accesible con carpetas personalizadas y
          funciones de búsqueda potentes.
        </p>
      </div>
      <div>
        <img src="assets/soluciones/verificado.png" alt="Seguridad avanzada" />
        <h4>Seguridad avanzada</h4>
        <p>
          Proteja sus archivos con las mejores prácticas de seguridad empresarial y tecnología de
          encriptación de última generación.
        </p>
      </div>
      <span class="ultimo"></span>
    </div>
  </section>
  <section class="features-section3">
    <header>
      <h3>Empieza a gestionar facilmente tus documentos de forma inteligente</h3>
      <p>Con DOCHUB, la gestión de documentos es más sencilla y eficiente.</p>
    </header>
    <button><a routerLink="/registro">Comienza ya!</a></button>
  </section>
</div>
