<div class="contenedor">
  <app-nav></app-nav>
  <section class="documentos">
    <header><h2>Documentos</h2></header>
    <div class="document-section">
      <h3>Nueva carga de archivos</h3>
      <div class="upload-section">
        <img src="assets/carga-documentos/subir.png" alt="subida" />
        <p>Arrastra y suelta archivos aquí o haz clic para seleccionar.</p>
        <input type="file" id="archivo" hidden />
        <label for="archivo" class="custom-file"> 📂 Seleccionar archivo </label>
      </div>
    </div>
  </section>
</div>
