<div class="precios-contenedor">
  <app-nav-login></app-nav-login>

  <section>
    <h1>Elige el plan que es perfecto para ti</h1>
    <p>Compara nuestros planes y elige el que mejor se adapte a tus necesidades.</p>

    <div class="planes">
      <div>
        <h2>Plan Básico</h2>
        <p>Para usuarios individuales</p>
        <p><b>GRATIS</b></p>
        <ul>
          <span>
            <li><img src="assets/precios/circulo.png" alt="" /> Acceso a funciones básicas</li>
          </span>
          <li><img src="assets/precios/circulo.png" alt="" /> Soporte por correo electrónico</li>
          <li><img src="assets/precios/circulo.png" alt="" /> Almacenamiento limitado</li>
        </ul>
        <button>Seleccionar Plan</button>
      </div>
      <div>
        <h2>Plan Pro</h2>
        <p>Para profesionales</p>
        <p><b>$19.99/mes</b></p>
        <ul>
          <li><img src="assets/precios/circulo.png" alt="" /> Acceso a todas las funciones</li>
          <li><img src="assets/precios/circulo.png" alt="" /> Soporte prioritario</li>
          <li><img src="assets/precios/circulo.png" alt="" /> Almacenamiento ampliado</li>
        </ul>
        <button>Seleccionar Plan</button>
      </div>
      <div>
        <h2>Plan Avanzado</h2>
        <p>Para equipos y empresas</p>
        <p><b>$29.99/mes</b></p>
        <ul>
          <li><img src="assets/precios/circulo.png" alt="" /> Acceso a todas las funciones</li>
          <li><img src="assets/precios/circulo.png" alt="" /> Soporte prioritario</li>
          <li><img src="assets/precios/circulo.png" alt="" /> Almacenamiento ilimitado</li>
        </ul>
        <button>Seleccionar Plan</button>
      </div>
    </div>
  </section>

  <section class="comparativa">
    <h2>Comparativa de Planes</h2>
    <table>
      <thead>
        <tr>
          <th>Características</th>
          <th>Plan Básico</th>
          <th>Plan Pro</th>
          <th>Plan Avanzado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Acceso a funciones básicas</td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
        </tr>
        <tr>
          <td>Acceso a todas las funciones</td>
          <td><img src="assets/precios/eliminar.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
        </tr>
        <tr>
          <td>Soporte por correo electrónico</td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
        </tr>
        <tr>
          <td>Soporte prioritario</td>
          <td><img src="assets/precios/eliminar.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
        </tr>
        <tr>
          <td>Almacenamiento limitado</td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/eliminar.png" alt="" /></td>
          <td><img src="assets/precios/eliminar.png" alt="" /></td>
        </tr>
        <tr>
          <td>Almacenamiento ampliado</td>
          <td><img src="assets/precios/eliminar.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
          <td><img src="assets/precios/circulo.png" alt="" /></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
