<app-loader></app-loader>
<div class="contenedor">
  <div class="menu-escritorio"><app-nav></app-nav></div>
  <div class="menu-movil"><app-nav-responsivo></app-nav-responsivo></div>

  <section class="documentos">
    <header>
      <h2>Metricas</h2>
      <h4>Aquí puedes ver las métricas de uso.</h4>
    </header>

    <div class="tabla-metricas">
      <div class="infoDocumentos">
        <div class="info1">
          Documentos cargados
          <div class="datos">{{ cantidadTipos }}</div>
        </div>
        <div class="info2">
          Espacio utilizado
          <div class="datos">{{ espacioOcupadoSubject | async | number : '1.0-2' }} / 100 MB</div>
        </div>
      </div>

      <div class="grafico">
        <div>Distribución de documentos por categoría</div>
        <ngx-charts-bar-vertical
          [results]="data"
          [legend]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showDataLabel]="true"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </section>
</div>
